<% layout('layout') -%>
<div class="container">

  <div class="jumbotron">
    <p class="lead">Steam Games, Groups and players</p>
    <% if(!user) {%>
        <a class="btn btn-large btn-success" href="/login">Sign in with Steam</a>
    <% } %>
  </div>

</div>