<% layout('layout') -%>
<% if(!user) {%>
  <div class="mainArea backImg">
    <div class="row-fluid">
        <img id="logo" src="../img/onwhite.png" class="img-rounded"/>
    </div>    

    <a class="btn btn-large btn btn-primary" href="/login">Sign in with Steam</a>
  </div>
<% } else { %>
  <div>
    <h1>Your Parties</h1>
   
    <a href="/party/new">Create a Party</a>
  </div>
<% } %>