<!DOCTYPE html>
<html lang="en">
<head><title>HartfordJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles/bootstrap.css"/>
    <link rel="stylesheet" href="/styles/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="/styles/hartfordjs.css"/>
    <script src="/scripts/jquery-1.8.2.js"></script>
    <script src="/scripts/bootstrap.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="/" class="brand">Britney Spears</a>
            <div class="nav-collapse">
                <% if(user) {%>
                    <p class="navbar-text pull-right"><a href="/logout">Logout</a></p>
                <% } else { %>
                    <p class="navbar-text pull-right"><a href="/login"><img
                    src="/img/sits_small.png" alt="Sign in through Steam"></a></p>
                <% } %>
                <ul class="nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br /><br />
<section>
    <%-body -%>
</section>
<div id="footer">
  <div class="container">
    <p class="pull-right">
      <iframe src="http://nodeknockout.com/iframe/hartfordjs" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
  </p>
    <div class="pull-left">
      <p>&copy; HartfordJS</p>
    </div>
    <div class="pull-left">
      <ul class="list-menu">
      <li>About</li>
      <li class="divider"></li>
      <li><a href="http://nodeknockout.com/">Node Knockout</a></li>
      <li><a href="http://store.steampowered.com/">Steam</a></li>
    </ul>
    </div>
    <div class="pull-left">
      <ul class="list-menu">
      <li>Who</li>
      <li class="divider"></li>
      <li><a href="https://github.com/willklein">Will Klein</a></li>
      <li><a href="https://github.com/prathamesh7pute">Prathamesh Satpute</a></li>
      <li><a href="https://github.com/DEmmerthal">David Emmerthal</a></li>
      <li><a href="https://github.com/RyanSylvestre">Ryan Sylvestre</a></li>
    </ul>
    </div>
  </div>
</div>
</body>
</html>